@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap&subset=latin-ext');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    color: #fff;
}