@mixin shadow($color) {
    box-shadow: 0 0 1rem $color;
}

@mixin highlight {
    opacity: .8;
    transition: opacity .2s;

    &:hover {
        opacity: 1;
    }
}

@mixin listsStyle {
    & ul {
        list-style: none;

        & li {
            margin: 1rem 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 2rem;
            }
        }
    }
}