.h1 {
    font-size: 6rem;
    line-height: 1.2;
    letter-spacing: 3px;
}

.h2 {
    font-size: 5rem;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}

.h5 {
    font-size: 1.6rem;
    color: var(--color-secondary);
}