.city-cards {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    min-height: 50vh;
    color: var(--color-secondary-light);
    grid-gap: 3rem;

    @media only screen and(max-width:$bp-medium) {
        grid-column: full-start / full-end;
        margin: 0 1.5rem;
    }
}

.card {
    border-radius: 5px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: .2rem .3rem .7rem rgba(0, 0, 0, .15);
    transition: transform .4s;
    position: relative;

    &__front {
        display: grid;
        grid-row-gap: 3rem;
        grid-template-rows: 25rem repeat(4, min-content);
        justify-items: center;
        transform: rotateY(0deg);
        transition: all .8s;
        opacity: 1;
        backface-visibility: hidden;

        &--hidden {
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            opacity: 0;
        }
    }

    &__back {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        transform: translate(-50%, -50%) rotateY(-180deg);
        font-size: 2rem;
        backface-visibility: hidden;
        transition: all .8s;
        opacity: 0;

        & ul {
            list-style: none;

            li {
                margin: 1rem 0;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    &__front--hidden+&__back {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }

    &__img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    &__city-name {
        color: var(--color-secondary);
        font-size: 2.4rem;
    }

    &__city-location {
        font-size: 1.3rem;
        color: var(--color-secondary-light);
    }

    &__btn {
        background-color: var(--color-primary-light-1);

        &--active {
            background-color: var(--color-tertiary-light);
        }
    }

}