.header {
    // background-color: khaki;
    grid-row: 1;
    grid-column: full-start / full-end;
    min-height: 110vh;
    background-image: var(--overlay-gradient-dark-1), url("../../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 1fr repeat(5, min-content) 1fr;
    justify-items: center;
    grid-row-gap: 4rem;

    &__h1 {
        grid-row: 2 / span 1;
        text-align: center;

        span {
            display: block;
            color: #e84118;
        }
    }

    &__h5 {
        color: var(--color-secondary-light);
        grid-row: 3 / span 1;
    }

    &__btn {
        grid-row: 5 / span 1;
        align-self: end;
    }

    &__p {
        grid-row: 7 / span 1;
        align-self: start;
        margin-top: 3rem;
        font-size: 1.4rem;
    }
}