.icon {
    display: block;
    transform: scale(.4) translateY(.5rem);
    fill: var(--color-tertiary);
    width: 6rem;
    height: 6rem;
    cursor: pointer;

    &:active {
        transform: scale(.4) translateY(.3rem);
    }

    @media only screen and (max-width:$bp-medium) {
        transform: scale(.3) translateY(.5rem);
        width: 8rem;
        height: 8rem;
    }
}