.icon {
    display: block;
    transform: scale(.4) translateY(.5rem);
    fill: var(--color-tertiary);
    width: 6rem;
    height: 6rem;
    cursor: pointer;

    &:active {
        transform: scale(.4) translateY(.3rem);
    }
}