.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.8rem;



    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    &--hidden &__content {
        transform: scale(0);
    }

    &__content {

        margin: 2rem 0;
        max-height: 90vh;
        position: relative;
        max-width: 70%;
        margin: 0 auto;
        display: grid;
        padding: 5rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        border: 10px solid var(--color-tertiary-light);
        box-shadow: .2rem .3rem .7rem rgba(0, 0, 0, .55);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .2s .1s;
        transform: scale(1);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0px;
            display: none;
        }

        @media only screen and(max-width:$bp-large) {
            grid-template-columns: 1fr;
        }
    }

    &__name {
        grid-column: 1/-1;
        font-size: 4rem;
        color: var(--color-tertiary-light);
        justify-self: start;
        margin-bottom: .8rem
    }

    &__description {
        text-align: left;

        @media only screen and(max-width:$bp-large) {
            padding-bottom: 1.4rem;
            border-bottom: 2px solid var(--color-tertiary-light);
        }
    }

    &__offer-info {
        @include listsStyle;
        grid-column: 2;
        grid-row: span 2;

        @media only screen and(max-width:$bp-large) {
            grid-column: 1/-1;
            order: 1;
            margin: 2rem 0;
            justify-self: start;
            text-align: left;
        }
    }

    &__btn {
        font-size: 1.9rem;
        position: absolute;
        top: 5%;
        right: 5%;
        color: var(--color-tertiary-light);
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        transition: transform .1s;

        &:hover,
        &:focus {
            transform: scale(1.4)
        }
    }


    // 
    // 
    // 
    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.2);
    }
}